{% extends 'base.html' %}

{% block content %}

        <div id="empresa" >
          <div class="container p-5">
            <h2 class="text-center">Conheça nossa equipe</h2>
            <div class="row text-center">
                <div class="col-md-6">
                  <img src="../static/img/leo.jpg" alt="" width="50%" height="50%" class="rounded-circle mb-3">
                  <h4>Michael Robert</h4>
                  <p class="text-info">
                    <i class="fas fa-award text-info mb-3"></i> Creci 31245</p>
                  <hr>
                  <p>
                    <i class="fas fa-phone"></i> (11) 9999-9999</p>
                  <p>
                    <i class="fas fa-envelope-open"></i> ramon@gmail.com</p>
                </div>
                <div class="col-md-6">
                  <img src="../static/img/ramon.jpg" alt="" width="50%" height="50%" class="rounded-circle mb-3">
                  <h4>Ramon Ramos</h4>
                  <p class="text-info">
                    <i class="fas fa-award text-info mb-3"></i> Dev</p>
                  <hr class="text-white">
                  <p>
                    <i class="fas fa-phone"></i> (11) 9999-9999</p>
                  <p>
                    <i class="fas fa-envelope-open"></i> ramon@gmail.com</p>
                </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
