{% extends 'base.html' %}

{% block content %}

        <div id="empresa" >
          <div class="container p-5 text-center">
            <h1 class="display-4 p-3">Real Estate Project</h1>
            <p class="p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci culpa soluta assumenda totam magni. Quibusdam minus quo voluptatem ratione illum iste nostrum, quam quis molestiae consequatur consequuntur repellendus sunt quod.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eum molestias itaque ad et consequatur! Ipsum dolor necessitatibus quas voluptates expedita ratione iure aliquam distinctio labore. Vel dolorum numquam sunt.</p>
        </div>
      </div>
    </div>

{% endblock %}
