{% extends 'base.html' %} {% block content %}
<section id="newest">
  <div class="container">
    <div class="wrapp">
      <h1>Newest Properties</h1>
      <div class="row p-3">
        {% for imovel in list_imoveis %}
        <div class="col-md-4">
          <a href="{% url 'view_imovel' imovel.id %}">
            <div class="card shadow-sm">
              <div class="card-image">
                <div id="slider{{ forloop.counter }}" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li
                      class="active"
                      data-target="#slider{{ forloop.counter }}"
                      data-slide-to="0"
                    ></li>
                    <li
                      data-target="#slider{{ forloop.counter }}"
                      data-slide-to="1"
                    ></li>
                    <li
                      data-target="#slider{{ forloop.counter }}"
                      data-slide-to="2"
                    ></li>
                    <li
                      data-target="#slider{{ forloop.counter }}"
                      data-slide-to="3"
                    ></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <figure class="image is-4by3">
                        <img
                          src="{{ imovel.photo_main.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        <div class="card-img-overlay">
                          <h2>
                            <span class="badge badge-info text-white"
                              >R${{ imovel.price }}</span
                            >
                          </h2>
                        </div>
                      </figure>
                    </div>
                    <div class="carousel-item">
                      <figure class="image is-4by3">
                        {% if imovel.photo_1 %}
                        <img
                          src="{{ imovel.photo_1.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        {% else %}
                        <img
                          src="{{ imovel.photo_main.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        {% endif %}
                        <div class="card-img-overlay">
                          <h2>
                            <span class="badge badge-info text-white"
                              >R${{ imovel.price }}</span
                            >
                          </h2>
                        </div>
                      </figure>
                    </div>
                    <div class="carousel-item">
                      <figure class="image is-4by3">
                        {% if imovel.photo_2 %}
                        <img
                          src="{{ imovel.photo_2.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        {% else %}
                        <img
                          src="{{ imovel.photo_main.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        {% endif %}
                        <div class="card-img-overlay">
                          <h2>
                            <span class="badge badge-info text-white"
                              >R${{ imovel.price }}</span
                            >
                          </h2>
                        </div>
                      </figure>
                    </div>
                    <div class="carousel-item">
                      <figure class="image is-4by3">
                        {% if imovel.photo_3 %}
                        <img
                          src="{{ imovel.photo_3.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        {% else %}
                        <img
                          src="{{ imovel.photo_main.url }}"
                          alt="Placeholder image"
                          width="100%"
                          height="280"
                        />
                        {% endif %}
                        <div class="card-img-overlay">
                          <h2>
                            <span class="badge badge-info text-white"
                              >R${{ imovel.price }}</span
                            >
                          </h2>
                        </div>
                      </figure>
                    </div>
                  </div>

                  <!-- CONTROLS -->
                  <a
                    href="#slider{{ forloop.counter }}"
                    class="carousel-control-prev"
                    data-slide="prev"
                  >
                    <span class="carousel-control-prev-icon"></span>
                  </a>

                  <a
                    href="#slider{{ forloop.counter }}"
                    class="carousel-control-next"
                    data-slide="next"
                  >
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <h3 class="card-title pricing-card-title text-info">
                  {{ imovel.nome}}
                </h3>
                <hr />
                <div class="row">
                  <div class="col-6">
                    <ul class="list-unstyled mb-4">
                      <li class="text-info">
                        <i class="fas fa-bed mr-1"></i> Quartos:
                        {{imovel.quartos }}
                      </li>
                      <li class="text-info">
                        <i class="fas fa-bath mr-1"></i>Banheiros:
                        {{imovel.banheiros }}
                      </li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul class="list-unstyled mb-4">
                      <li class="text-info">
                        <i class="fas fa-ruler mr-1"></i>{{ imovel.sqft }}m²
                      </li>
                      <li class="text-info">
                        <i class="fas fa-car mr-1"></i>Garagens:
                        {{imovel.garagem }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
  $('.carousel').carousel('pause');
</script>

{% endblock %}
