{% extends 'base.html' %}

{% block content %}


<div class="container p-4">
    <h1 id="teste" class="m-4 p-4 display-4">Entrando Login</h1>
    <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
            <div class="d-flex align-self-center">
                <i class="fas fa-check fa-2x p-4"></i>
                <p class="p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis voluptatum quisquam, quas corrupti placeat illo a pariatur doloribus vitae maiores voluptatibus ipsa labore, perferendis id nam excepturi quos nisi adipisci!</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-check fa-2x p-4"></i>
                <p class="p-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam consequuntur nobis, praesentium dolor, perspiciatis porro sit libero ipsum repellendus voluptatem, error repellat. Dolores ab harum voluptas blanditiis porro possimus eum.</p>
            </div>
            <div class="d-flex">
                <i class="fas fa-check fa-2x p-4"></i>
                <p class="p-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit temporibus sapiente illo, fugit error, dignissimos odio debitis qui corrupti dicta, voluptatibus tempora minima vel recusandae accusamus voluptatem obcaecati perferendis praesentium!</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#teste").css("color", "red");
</script>

{% endblock %}

