{% extends 'base.html' %}

{% block content %}


        <section id="page-header">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
        </section>
        <div class="container">
        <div class="row mb-2">
            
            <div class="col-md">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 id="owner" class="display-4 text-white">Real Estate Project</h1>
                    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
                </div>

                <div class="row">
                    <div class=col-md-4>
                    <div class="transparency-container-2">
                        <div class="container">
                            <h1 class="display-4 text-center">Pesquise o seu futuro imóvel</h1>
                            <form method="get" action="/search_imoveis/">
                                <div class="form-group">
                                <select class="form-control mb-2" name="order" id="order">
                                    <option value="">Order by:</option>
                                    {% for order_type in order_types %}
                                    <option value="{{order_type}}">{{order_type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                                
                                <div class="form-group">
                                <select class="form-control mb-2" name="updown" id="crescente">
                                    <option value="">Range:</option>
                                    <option value="">Crescente</option>
                                    <option value="-">decrescente</option>
            
                                </select>
                            </div>
                                <div class="form-group">
                                    
                                    <label class="sr-only">Keywords</label>
                                    <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="preco">Faixas de Preço</label>
                                    <select class="form-control" name="preco" id="preco">
                                        <option value="">Faixa de Preço</option>
                                        {% for faixa in faixas_preco %}
                                        <option value="{{faixa}}">Até R${{faixa}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="aluga_compra">Alugar ou Comprar</label>
                                    <select class="form-control" name="modelo" id="aluga_compra">
                                        <option value="">Aluguel ou Compra</option>
                                        {% for modelo in modelos %}
                                        <option value="{{modelo.nome}}">{{modelo.nome}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                                <div class="form-group">
                                    <label class="sr-only" for="tipo">Tipo Imóvel</label>
                                    <select class="form-control" name="tipo" id="tipo">
                                        <option value="">Selecione o Tipo</option>
                                        {% for tipo in tipos %}
                                        <option value="{{tipo.nome}}">{{tipo.nome}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="bairro">Selecione o Bairro</label>
                                    <select class="form-control" name="bairro" id="bairro">
                                        <option value="">Selecione o Bairro</option>
                                        {% for bairro in bairros %}
                                        <option value="{{bairro.nome}}">{{bairro.nome}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="aluga_compra">Alugar ou Comprar</label>
                                    <select class="form-control" name="modelo" id="aluga_compra">
                                        <option value="">Selecione o Modelo</option>
                                        {% for modelo in modelos %}
                                        <option value="{{modelo.nome}}">{{modelo.nome}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" onclick="getBairro();" class="btn btn-info form-control">Buscar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class=col-md-8>

                <div class="show-cards">
                    <div class="row">
                    {% for imovel in listings %}
                    <div class="col-md-6">
                        <a href="{% url 'view_imovel' imovel.id %}">
                        <div class="card shadow-sm">
                            <div class="card-image">


                                <div id="slider{{ forloop.counter }}" class="carousel slide">
                                    <ol class="carousel-indicators">
                                        <li class="active" data-target="#slider{{ forloop.counter }}" data-slide-to="0"></li>
                                        <li data-target="#slider{{ forloop.counter }}" data-slide-to="1"></li>
                                        <li data-target="#slider{{ forloop.counter }}" data-slide-to="2"></li>
                                        <li data-target="#slider{{ forloop.counter }}" data-slide-to="3"></li>

                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <figure class="image is-4by3">
                                                <img src="{{ imovel.photo_main.url }}" alt="Placeholder image" width="100%" height="280">
                                                <div class="card-img-overlay">
                                                    <h2>
                                                    <span class="badge badge-info text-white">R${{ imovel.price }}</span>
                                                    </h2>
                                                </div>
                                            </figure>
                                        </div>
                                        <div class="carousel-item">
                                            <figure class="image is-4by3">
                                                {% if imovel.photo_1 %}
                                                <img src="{{ imovel.photo_1.url }}" alt="Placeholder image" width="100%" height="280">
                                                {% else %}
                                                <img src="{{ imovel.photo_main.url }}" alt="Placeholder image" width="100%" height="280">
                                                {% endif %}
                                                <div class="card-img-overlay">
                                                <h2>
                                                <span class="badge badge-info text-white">R${{ imovel.price }}</span>
                                                </h2>
                                                </div>
                                            </figure>
                                        </div>
                                        <div class="carousel-item">
                                            <figure class="image is-4by3">
                                                {% if imovel.photo_2 %}
                                                <img src="{{ imovel.photo_2.url }}" alt="Placeholder image" width="100%" height="280">
                                                {% else %}
                                                <img src="{{ imovel.photo_main.url }}" alt="Placeholder image" width="100%" height="280">
                                                {% endif %}  <div class="card-img-overlay">
                                                    <h2>
                                                    <span class="badge badge-info text-white">R${{ imovel.price }}</span>
                                                    </h2>
                                                </div>
                                            </figure>
                                        </div>
                                        <div class="carousel-item">
                                            <figure class="image is-4by3">
                                                {% if imovel.photo_3 %}
                                                <img src="{{ imovel.photo_3.url }}" alt="Placeholder image" width="100%" height="280">
                                                {% else %}
                                                <img src="{{ imovel.photo_main.url }}" alt="Placeholder image" width="100%" height="280">
                                                {% endif %}  <div class="card-img-overlay">
                                                    <h2>
                                                    <span class="badge badge-info text-white">R${{ imovel.price }}</span>
                                                    </h2>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>

                                    <!-- CONTROLS -->
                                    <a href="#slider{{ forloop.counter }}" class="carousel-control-prev" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>

                                    <a href="#slider{{ forloop.counter }}" class="carousel-control-next" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>




                            </div>
                            <div class="card-body">
                                <h3 class="card-title pricing-card-title text-info">{{ imovel.nome}}</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="list-unstyled mb-4 ">
                                            <li class="text-info"><i class="fas fa-bed mr-1"></i> Quartos: {{ imovel.quartos }}</li>
                                            <li class="text-info"><i class="fas fa-bath mr-1"></i>Banheiros: {{ imovel.banheiros }} </li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="list-unstyled mb-4 ">
                                            <li class="text-info"><i class="fas fa-ruler mr-1"></i>{{ imovel.sqft }}m²</li>
                                            <li class="text-info"><i class="fas fa-car mr-1"></i>Garagens: {{ imovel.garagem }} </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>


        <script>
        function getBairro()
        {
            var bairro = document.getElementById("bairro").value;
            var tipo = document.getElementById("tipo").value;
            var modelo = document.getElementById("aluga_compra").value;
            var preco = document.getElementById("preco").value;


            var price = document.getElementById("sliderid").value;
            var SelectValue = document.getElementById("SelectValue");
            SelectValue.innerHTML = price;

        }

        function updateTextInput(val){
            document.getElementById('rangevalue').textContent = val;
        }
        </script>

        
      <script>
        $('.carousel').carousel('pause');


        </script>

        <script>
            var te = document.querySelector("#owner");

            te.addEventListener('mouseover', function(){
                te.style.color = "red";
            })

            te.addEventListener('mouseout', function(){
                te.style.color = "black";
            })
        

        </script>

        {% endblock %}

</body>
</html>